<h1>Welcome to Tech Talent Store</h1>
<% if current_user.nil? %>
	<p>Give us your money</p>
<% else %>
	<h5>Take a look, <strong><%= current_user.name %></strong></h5>
<% end %>

<%= render 'productloop' %>